* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

body {
    padding: 0;
    margin: calc(40vh/2) auto;
    background: url('../img/11-2.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    width: fit-content;

}

#show {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    /* color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box; /**look-up*/
}

header .logo {
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    font-size: 13.5px;
}

header nav ul li a {
    height: 45px;
    line-height: 40px;
    padding: 0 15px;
    color: #ccc;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #fff;
    transition: 0.5s;
    border-bottom: 1px solid #2196f3;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 40px);
        background: #333;
        top: 40px;
        left: -100%;
        transition: 0.5s;
        z-index: 999;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    }
    
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 320px;
    height: 20px;
    border: 0.5px solid #ccc;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(145, 145, 145, 0.2);
}

input[type="submit"] {
    background: transparent;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    width: 332px;
}

/* 
input[type="text"], input[type="password"], input[type="email"] {
    width: 320px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(145, 145, 145, 0.2);
}

input[type="submit"] {
    background: transparent;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    width: 320px;
} */

input[type="submit"]:hover {
    border: 1px solid #ccc;
    color: #ccc;
}

::-moz-placeholder {color: #fff; opacity: 1;}

:-ms-input-placeholder {color: #fff;}

::-ms-input-placeholder {color: rgb(255, 255, 255);}

::placeholder {
    color: #fff;
}
