html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    background-color: rgb(103, 111, 124);
    display: table;
    margin-top: 12%;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.inner .constraint {
    min-width: 500px;
}

.content h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%;
    color: #e1efe9;
    line-height: 100%;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 135%;
    color: #3a6168;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #3a6168;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    color: #cbdfd6;
    border: 1px solid #cbdfd6;
    transition: all 0.5s;
}

footer p {
    font-size: 150%;
    line-height: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 20%;
    }
    .content h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 90%;
        padding: 9px 17px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 15%;
    }
    .content h1 {
        font-size: 200%;
    }
    .btn {
        font-size: 75%;
        padding: 9px 17px;
    }
    footer p {
        font-size: 120%;
        line-height: 100%;
    }
}

@media screen and (max-width: 480px) {
	.content {
        padding-bottom: 10%;
    }
    .content h1 {
        font-size: 150%;
    }
    .btn {
        font-size: 80%;
        padding: 6px 14px;
    }
    footer p {
        font-size: 100%;
        line-height: 100%;
    }
}


header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    /* background: #262626; */
    width: 100%;
    box-sizing: border-box; /**look-up*/
}

header .logo {
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 100%;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    font-size: 13.5px;
}

header nav ul li a {
    height: 45px;
    line-height: 40px;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #ccc;
    transition: 0.5s;
    border-bottom: 1px solid #2196f3;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 40px);
        background: #333;
        top: 40px;
        left: -100%;
        transition: 0.5s;
        z-index: 999;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    }
}

/*Activity page*/
p {
    font-size: 12.5px;
    line-height: 1.5;
  }
  
  .grid-wrapper {
    max-width: 1000px;
    margin-top: 20px;
  }
  
  @media (min-width: 768px) {
    .grid-wrapper {
      display: flex;
    }
  
    #content-main {
      margin: 0 4rem 0 1rem;
      border: 1px solid #fff;
    }
  
    #sidebar {
      flex: 1 0 300px;
    }
  }
  @supports(display: grid) {
    @media (min-width: 768px) {
      .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: auto;
        grid-gap: 4rem;
      }
  
      #content-main {
        margin: 0 0 0 1rem;
    }
  }
}

.status {
    font-size: 10.5px;
    color: #ccc;
    font-style: italic;
    margin-bottom: 50px;
}

.show {
    text-align: left;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.show h1 {
    font-size: 50px;
}

.show a {
    font-size: 11.5px;
    color: #ccc;
    text-decoration: none;
}

.show a:hover {
    color: #fff;
    text-decoration: underline;  
}

.show .status a {
    font-size: 10.5px;
    color: #ccc;
    font-style: italic;
    margin-bottom: 50px;
}

#modify {
    color: #333;
}

.grid-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content h4 {
    color: #ccc;
}

section footer {
    text-align: right;
}

.show .questions a {
    color: #fff;
}

.show .questions a:hover {
    color: #ccc;
    text-decoration: underline;
}

.vote {
    background: rgb(12, 206, 44);
    padding: 4px;
    border-radius: 2px;
    color: #fff;
}

.down-vote {
    background: rgb(216, 27, 106);
    padding: 4px;
    border-radius: 2px;
    color: #fff;
}

em .down-vote {
    font-size: 10px;
}

.ans {
    background: rgb(14, 150, 204);
    padding: 4px;
    border-radius: 2px;
    color: #fff;
}

.status span:last-child {
    background: #0ba8a8;
    padding: 4px;
    border-radius: 2px;
    color: #fff;
}

.status span {
    font-size: 0.8em;
}

/*persona page*/


/*
* Styling the table
*/

table {
    color: rgb(99, 99, 99);
    font-size: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table a {
    /* color: #333; */
    text-decoration: none;
}

table a:hover {
    color: #fff;
    text-decoration: underline;
}

td, th {
    border: 1px solid transparent;
    height: 25px;
    transition: all 0.3s;
    padding: 2px;    
    border-bottom: 1px solid #dfdfdf;
}

th {
    background: #dfdfdf;
    font-weight: bold;
}

th:first-child {   
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

td {
   text-align: center;
}

tr:nth-child(even) {
    background: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background: rgb(254, 254, 254);
}

tbody tr:hover {
    background: #ccc;
    color: #fff;
}

tbody tr td:hover {
    border-bottom: 1px solid rgb(153, 153, 153);
    color: #f5f5f5
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 2px;
}

.answers {
    overflow-y: scroll;
    max-height: 300px;
}


/**view.html page*/
textarea {
    margin: 10px;
    padding: 10px;
    width: 70%;
    background: transparent;
    border-radius: 5px;
    height: 140px;
    border: 1px solid #ccc;
    color: #fff;
}

input[type="submit"] ::placeholder {
    color: #333;
}

span a, .widget-content a {
    border: 0px solid #ccc;
    color: #ccc;
    margin: 0px;
    font-size: 12px;
    float: right;
}

.widget-content a {
    border: 0px solid #ccc;
    color: #ccc;
    margin: 0px;
    font-size: 12px;
    float: left;
}

.widget-content a:hover {
   color: #fff;
   text-decoration: underline;
}

span a:hover {
    border: 0px solid #ccc;
    text-decoration: underline;
    color: #fff;
}

div.action a {
    width: 100px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

hr {
    border: 0.5px solid rgba(160, 160, 160, 0.637);
}

.action a:hover {    
    text-decoration: none;
    border: 1px solid #2196f3;
    color: #ccc;
}

article a {
    font-size: 10px;
    margin: 3px;
}



























/*Profile page*/
.card {
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1f1f1;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 0 8px #222;
    font-family: "verdana";
    color: #555;
    margin-top: 20px;
    border-radius: 3px;
}

.card-header {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.card-header img {
    height: 100%;
}

.card-header .cover {
    background: #9b59b6b3;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}

.card-header .menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.card-header .menu span {
    font-size: 20px;
}

.card-header .name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 0;
}

.card-header .last {
    display: block;
    font-size: 35px;
}

.card-header .first {
    font-size: 11.5px;
    display: block;
    
    text-align: left;
}

.container {
    padding: 20px;
    overflow: hidden;
}

.left-section {
    width: 248px;
    overflow: hidden;
    float: left;
    text-align: left;
}

.left-section h3 {
    color: #9b59b6;
}

.left-section p {
    margin: 25px 0;
}

.left-section .followbtn {
    width: 80%;
    background: #9b59b6;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 8px 0;
    transition: 0.2s all;
    text-decoration: none;
    margin-top: 10px;
}

.left-section .followbtn:hover {
    background: #8e44ad;
}

.right-section {
    overflow: hidden;
    float: right;
    text-align: right;
}

.item {
    margin: 6px 0;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}

.num {
    display: block;
    font-size: 25px;
    font-weight: 800;
    border-radius: 5px;
}

.word {
    font-size: 11px;
}

/* @media (max-width: 400px) {
    .right-section {
        display: block;
        width: 100%;
    }
    .left-section {
        width: 100%
    }
} */

#edit {
    background: rgba(185, 190, 189, 0.95);
    width: fit-content;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    visibility: hidden;
    z-index: 1;
}

#edit input[type="text"], #edit input[type="password"] {
    width: 73%;
    padding: 5px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;    
    outline: none;
}

#edit textarea {
    width: 70%;
    border: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
}

#edit input[type="submit"], #edit input[type="button"] {
    background: transparent;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
}

#edit input[type="button"]:hover, #edit input[type="submit"]:hover {
    border: 1px solid #2196f3;
}

#edit hr {
    margin-bottom: 10px;
    width: 100%;
    border: 0.5px solid rgba(160, 160, 160, 0.692);
}

footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11.5px;
    background: #676f7c;
    padding: 15px;
    color: #b4b4b4;
}